
<p>...</p>
<p>....</p>

<h2>Favorite Letters</h2>
{{ favorites }}
<ul>
  {{#each favorites as |favorite| }}
    <li>{{favorite}}</li>
  {{/each}}
</ul>
<ul>
{{#each links as |link| }}
  <li>{{link.url}} {{link.text}}</li>
{{/each}}
<ul>